@media only screen and (max-width: 768px) {
    nav{
text-align: center;
    }
    .main_img{
        display: none;
    }
    .frame{
        margin-left: 5%;
    }
    .blogs img{
     display: none;
    }
    .news img{
        display: none;
       }
}
@media only screen and (min-width: 988px) and (max-width: 1245px)  {
.logo{
    width: 120px;
    height: 60px;
}
    .nav-link{
    font-size: 13px;
}
.con{
    font-size: 14px;
}
.nav-item{
padding-right: 5px;
}
.btn-content{
font-size: 10px;
padding: 0px 10px;
}

}
